<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background: url("{{ url_for('static', filename='fndbg08.jpg') }}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body class="index-page">

    <div class="container">
        <h1>Fake News Detection</h1>
        <form action="/predict" method="POST">
            <textarea name="text_input" rows="5" placeholder="Enter news headline or article" required></textarea>
            <br>
            <button type="submit">Check News</button>
        </form>
    </div>
</body>
</html>
